/* nav--bar css */

.header .nav__bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   margin-top:22px;   
}
.header .nav__bar .nav__bar--iteam {
    display: flex;
    list-style: none;
}
.header .nav__bar  a{
    color:#fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}
.header .nav__bar  a i{
    margin-right: 8px;
}
.header .nav__bar .nav__bar--iteam li {
    transition:  all 0.5s;
}
.header .nav__bar .nav__bar--iteam li:not(:last-child) {
    margin-right: 36px;
}
.header .nav__bar .nav__bar--iteam li:hover {
    transform: scale(1.1);
}
.header .nav__bar .nav__bar--iteam li:hover a {
    color: #E02C6D;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/* responsive nav__bar */
@media (min-width:100px) and (max-width:1180px) {
    .nav__bar ul{
        display: none !important;
    }

}

@media (min-width: 1180px){
    .nav-toggle-button{
        display:none !important;
    }
}
